*{

    margin: 0;
    padding: 0;
    color: rgb(45 178 229);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.font-style{

    font-family: 'Tangerine', serif;
        font-size: 45px;
}

.title-text{

    color: white;
    padding: 5px;
}

.navbar{

    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
    width: 82%;
    margin: auto;
    
}
.nav-list{

    display: flex;
    
    width: 50%;
    align-items: center;

}

.logo img{

    width: 120px;
}

.nav-list li{
list-style: none;
padding: 0px 20px;

}
.nav-list li :hover{
   color: yellow;
  
    }
.nav-list li a{
text-decoration: none;
color: white;
}

.nav-box{
    width: 50%;
    text-align: center;
    margin: auto;
    
}

#search{
color: black;
    padding: 10px 80px;
   
}
button{
    color: white;
    background-color: red;
    padding: 10px 35px;
    border-radius: 5px;
    width: 22%;

}

.background{

    background: rgb(0, 0, 0,0.7) url(/Coding\ Related\ Img.jpg);
    background-size: cover;
    background-blend-mode: soft-light;
}

.main-box{

    display: flex;
align-items: center;
   width: 80%;
   margin: auto;   
}

.fristhalf{

    width: 50%
    
}
.fristhalf p{
margin-bottom: 20px;
    width: 80%;
    
}



.fristhalf h2{
    margin: 15px 0px;
    font-size: 60px;
    
}
.secondhalf{

    width: 50%;
    text-align: center;
}
.secondhalf img{

    width: 85%;
}

.main-heading{

    text-align: center;
    background-color:rgb(47 49 146);
    padding: 15px;
    background-image: url();
    color: white;
}
.main-heading h2{

    color: white;
}

.about-box{

    height: 500px;
    align-items: center;
}
.about-box1{

    width: 50%;
}

.about-box1 img{

    
    width: 50%;
    
    border-radius: 50%;
}
.about-box2{

    width: 50%;
}

.about-box2 h3{

    font-size: 45px;
    margin-bottom: 5px;
}
.card-section{

    display: flex;
}

.Cards{
background-color: rgb(8, 18, 22);
    width: 300px;
    height: 400px;
    padding: 2%;
    margin: 25px;
    border-radius: 5px;
}
.Cardgreen{
    background-color: rgb(47 49 146);
        width: 300px;
        height: 400px;
        padding: 2%;
        margin: 25px;
        border-radius: 5px;
    }

.card-insider{
   background-size: cover;
    background-blend-mode: soft-light;
    height: 250px;

}

.card-main-img1{
   
    background: rgb(0, 0, 0,0.7) url(Card-img\ \(1\).jpg);
    background-size: cover;
    background-blend-mode: soft-light;
    height: 250px;

}
.card-main-img2{
   
    background: rgb(0, 0, 0,0.7) url(Card-img\ \(2\).jpg);
    background-size: cover;
    background-blend-mode: soft-light;
    height: 250px;

}
.card-main-img3{
   
    background: rgb(0, 0, 0,0.7) url(Card-img\ \(3\).jpg);
    background-size: cover;
    background-blend-mode: soft-light;
    height: 250px;

}


.card-insider0{
   
    background: rgb(0, 0, 0,0.7) url(html\ css\ and\ boostrap.png);
    background-size: cover;
    background-blend-mode: soft-light;

}
.card-insider1{
   
    background: rgb(0, 0, 0,0.7) url(jquery-javascript.png);
    background-size: cover;
    background-blend-mode: soft-light;

}
.card-insider2{
   
    background: rgb(0, 0, 0,0.7) url(Wordpress\ img.jpg);
    background-size: cover;
    background-blend-mode: soft-light;

}
.card h1{
    padding: 15px 0px;

}
.card p{
    padding: 5px 0px;
    
    }
    .tab-section{

        color: black;
    }

    .footer{
        padding: 50px 0px 0px 0px;
        background-color: black;
        height: 200px;
        width: 100%;
    }

    .footer-list{
        text-align: center;
    }
    .footer-list a{
        text-align: center;
        padding: 2%;
        text-decoration: none;

    }
    .footer p{
        text-align: center;
        margin: 2%;

    }